







<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white shadow-md rounded p-8 sm:w-96 w-full">
        <h2 class="text-2xl font-bold mb-6 text-center">Online Quiz Application</h2>
        <form th:action="@{/login_page}" class="">
            <!-- <span class="text-pretty text-2xl">Login</span> -->
            <div class="text-center">
                <input type="submit" class="w-20 bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 
            focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" value="Sign In">
            </div>

        </form>
        <p class="mt-4 text-center text-base text-gray-600">Don't have an account? <a th:href="@{/register}" class="text-blue-500 
        hover:underline">Sign up</a></p>
    </div>

</body>

</html>
